 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');

 *{
    font-family: 'Noto Sans', sans-serif; 
    padding: 0;
    margin: 0;
 }

 html{
    font-size: 100%;
 }
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
 }
 h1{
  font-size: 25px;
 }
h2{
  font-size: 22px;
}
h3{
  font-size: 19 px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 13px;
}
.bg-white{
  background-color: white;
}
.bg-hielo{
  background-color: #6edae2;
}
.bg-green{
  background-color: #026873;
 }
.negrita{
  font-weight: bold;
}

.textoGrande{
  font-size: 30px;
}
.text-white{
  color: white;
}
.text-hielo{
  color: #6edae2;
}
.text-green{
  color: #026873;
}
.centrar{
display: flex;
justify-content: center;
}
.imagenGaleria{
 width: auto;
 height: 300px;
}
.imagenChica{
 width: auto;
 height: 150px;
}
.cover{
  object-fit: cover;
}
.mapaChico{
 width: 150px;
 height: 100px;
}
/* -----comienza commons------ */
.navbar{
  background-color: #6edae2;
  width: 100%;
  overflow: hidden;
}

 .logo{
    width: 60px;
    height: 60px;
    border: none;
 }
 
 header div img{
   width: 100%;
   overflow: hidden;
 }
 nav{
   background-color: rgb(236, 224, 224);
   position: static;
   padding: 10px;
   overflow: hidden;
 }
 nav ul{
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
 }
 nav span{
   display: block;
   font-weight: 600;
   color: #0396A6;
 }
 footer{
  background-color: #6edae2;;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 25px;
  overflow: hidden;
}
footer h3{
  color:white
}
main h2{
  display: block;
  color: #026873;
  text-align: center;
}

@media (max-width: 459px){
  .logo{
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .buscador{
    width: 30vw;
  }
  footer{
    flex-direction: column;
  }
  footer svg{
   justify-content:center;
  }
  nav img{
    width: 60px;
  }
  nav span{
    font-size: small;
  }
  header div img{
    height: 30vh;
    object-fit: cover;
  }
} 

 
 /* ---comienza index--- */
 
 .mapacalafate{
   width: 100%;
   height: 500px;
   padding: 10px;
   overflow: hidden;
 }
 .carousel-item{
  height: 350px;
  object-fit: contain;
  overflow: hidden;
 }
 @media (max-width: 459px){
 .mapacalafate{
  height: 200px;
}
}
  
/* ------- ends index------- */

 
/* -----Comienza página de GASTRONOMIA----- */
#categorias{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 5px;
  padding-bottom: 20px;
}

#bares{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
#confiterias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
#pizzerias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
#pastas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
#parrillas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
#comidas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
 /* ------- ends gastronomía------- */
 /* -------comienza página de alojamientos--------- */
 #hoteles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 #hosterias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 #hostels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 #cabanas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 /* ----------- ends alojamientos ----------- */
 
 /* --------comienza página del parque nacional --------*/
#histovideo-pnlg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#histo-pnlg{
  width: 40%;
  margin: 10px;
  padding: 10px;
}
#video-pnlg{
  width: 60%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
.apn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background-image: url(../Imagenes/bg-intendencia.jpg);
  background-size: contain;
  background-attachment: fixed;
}
.gallery-title{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.gallery-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 10px;
}
.gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item:first-child{
grid-column-start: span 2;
}
.gallery-item:nth-child(4){
  grid-row-start: span 2;
}
.gallery-item:nth-child(6){
  grid-column-start: span 2;
}
@media (max-width: 459px){
  .gallery-item{
    grid-column-start: span 4;
  }
  .gallery-item:first-child{
    grid-column-start: span 4;
  }
  .gallery-item:nth-child(6){
    grid-column-start: span 4;
  }
}
@media (max-width:1000px){
  #histovideo-pnlg{
    flex-direction: column-reverse;
  }
  #histo-pnlg{
    width: 100%;
  }
  #video-pnlg{
    width: 100%;
  }
  }
 /* ------- ends parque nacional ---------- */
/* -------Comienza página de Calafate */
.actsCalafate{
  margin: 15px;
}
#histovideo-cal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#historia-cal{
  width: 40%;
  margin: 10px;
  padding: 10px;
}
#video-cal{
  width: 60%;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
@media (max-width:1000px){
  #histovideo-cal{
    flex-direction: column-reverse;
  }
  #historia-cal{
    width: 100%;
  }
  #video-cal{
    width: 100%;
  }
  }