*{
  box-sizing: border-box;
}
html{
    font-size: 100%;
 }
body{
    background-color: $bg-color;  
 }
 h1{
  font-size: 70px;
  text-align: center;
  margin-top: 120px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 10);
 }
h2{
  font-size: 22px;
}
h3{
  font-size: 19 px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 13px;
}
header{
  #navbar{
    width: 100%;
    background-color: rgb(110,218,226,0.6);
    overflow: hidden;
    display: flex;
    ul{
      display: flex;
      margin-right: 90px;
      li{
        margin-right: 20px;
        margin-left: 20px;
        a{
          color: $bg-color;
          font-family: $mainFont;
          font-size: 20px;
          font-weight: 600;
          &:hover{
            color: $keyColor;
          }
        }
      }
    }
  }
}

 .logo{
    width: 60px;
    height: 60px;
    border: none;
    margin-left: 110px;
 }

 nav{
   background-color: $secondaryColor;
   position: static;
   padding: 10px;
   overflow: hidden;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
          img{
            width: 80px;
          }
    }
    span{
        display: block;
        font-weight: 600;
        color: $keyColor
    } 
 }
 footer{
  background-color: $mainColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 25px;
  overflow: hidden;
  h3{
    color: $bg-color;
} 
}
main h2{
  display: block;
  color: $keyColor;
  text-align: center;
}
.error404{
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
  overflow: hidden;
  img{
    width: 100%;
    object-fit: cover;
  }
  .btn-volver{
    border: 3px solid;
    border-radius: 10px;
    border-color: $mainColor;
    color: $mainColor;
    font-size: 20px;
      &:hover{
      box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
      transition: all 0.2s ease;
      }
    }
}


@media (max-width: 472px){
  .logo{
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .buscador{
    width: 30vw;
  }
  footer{
    flex-direction: column;
  
    svg{
    justify-content:center;
    }
  }
  .navbar{
    form{
      visibility: hidden;
    }
  }
  nav{
     img{
    width: 60px;
    }
    span{
    font-size: small;
    }
  }
  .headers{
    img{
    height: 30vh;
    }
    h1{
      font-size: 40px;
      left: 20%;
    }
    p{
      font-size: 10px;
    }
    }
}
@media (min-width: 473px) and (max-width: 1100px){
  .headers{
    img{
    height: 40vh;
    }
    h1{
      font-size: 50px;
      left: 20%;
    }
    p{
      font-size: 20px;
    }
    }
}


