.header5{
  background-image: url(../Imagenes/header/calafateweb\ copia.webp);
  width: 100vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.actsCalafate{
    margin: 15px;
  }
  #histovideo-cal{
    @include flexbox (flex, row, nowrap, space-between)
  }
  #historia-cal{
    width: 40%;
    margin: 50px;
    padding: 15px;
    h2{
      font-family: $mainFont;
      font-size: 50px;
      font-weight: 600;
      color: $keyColor;
    }
    p{
      font-family: $mainFont;
      font-size: 15px;
      font-weight: 600;
    }
  }
  #video-cal{
    @extend #historia-cal;
    width: 60%;
    overflow: hidden;
  }
  @media (max-width:1000px){
    #histovideo-cal{
      flex-direction: column-reverse;
    }
    #historia-cal{
      width: 100%;
      margin: 10px;
      padding: 10px;
      h2{
        font-size: 40px;
      }
    }
    #video-cal{
      width: 100%;
      margin: 10px;
      padding: 10px;
    }
    }