.header3{
    background-image: url(../Imagenes/header/headercomidaweb.webp);
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#categorias{
    @include flexbox (flex, row, wrap, space-around);
    margin: 5px;
    padding-bottom: 20px;
}  
#bares{ 
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}
#confiterias{
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}
#pizzerias{
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}
#parrillas{
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}
#pastas{
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}
#comidas{
    @include flexbox (flex, row, wrap, space-around);
    @include m-top-bottom-10px;
}