$mainColor: #3dbcc5; 
$secondaryColor: rgb(197, 201, 208);
$keyColor:#026873;
$bg-color: white; 

$mainFont: 'Noto Sans', sans-serif;

@mixin flexbox ($display, $direction, $wrap, $justify){
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}
@mixin m-top-bottom-10px{
    margin-top: 10px;
    margin-bottom: 10px;
}

